<section class="heading">
  <span class="page-title font-weight-bold-italic">[{{title}}]</span>
  <a routerLink='/actor-create'>
    <img width='20' height='20' src='assets/add-icon.png' title='Add New'>
</a>
</section>
<table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Birth Date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = 'let actor of actors'>
        <th scope="row">{{actor.id}}</th>
        <td>{{actor.firstName}}</td>
        <td>{{actor.lastName}}</td>
        <td>{{actor.gender}}</td>
        <td>{{actor.birthDate}}</td>
        <td>
          <a routerLink='/actor-detail/{{actor.id}}'>
            <img width='20' height='20' src='assets/details.png' title='Actor Details'>
          </a> |
          <a routerLink='/actor-edit/{{actor.id}}'>
            <img width='20' height='20' src='assets/pencil-icon.png' title='Edit Actor'>
          </a> 
        </td>
      </tr>
    </tbody>
  </table>
