<table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Birth Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = 'let actor of actors'>
        <th scope="row">{{actor.id}}</th>
        <td>{{actor.firstName}}</td>
        <td>{{actor.lastName}}</td>
        <td>{{actor.gender}}</td>
        <td>{{actor.birthDate}}</td>
      </tr>
    </tbody>
  </table>
