<table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Movie Name</th>
        <th scope="col">Actor Name</th>
        <th scope="col">Role</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = 'let credit of credits'>
        <th scope="row">{{credit.id}}</th>
        <td>{{credit.movie.title}}</td>
        <td>{{credit.actor.firstName}} {{credit.actor.lastName}}</td>
        <td>{{credit.role}}</td>
      </tr>
    </tbody>
  </table>
